<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.dao.AwardDao">
    <insert id="add" parameterType="Award">
        insert into awards(e_id,type,money,reason,createTime) values(#{eId},#{type},#{money},#{reason},#{createTime})
    </insert>
    <update id="update" parameterType="Award">
        update awards set e_id=#{eId},type=#{type},money=#{money},reason=#{reason},create_time=#{createTime} where a_id=#{aId}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from awards where a_id = #{aId}
    </delete>
    <select id="queryById" parameterType="int" resultType="Award">
        select * from awards where a_id = #{id}
    </select>
    <select id="queryByEId" parameterType="int" resultType="Award">
        select * from awards where e_id = #{eId}
    </select>
    <select id="queryAll" resultType="Award">
        select * from awards
    </select>
</mapper>