<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.dao.EmployeeDao">
    <insert id="addEmpl" parameterType="Employee">
        insert into employees values(#{eId},#{eName},#{gender},#{tel},#{email},#{department.id}#{position.pId},
        #{entryTime},#{dimissionTime},#{education},#{salary.sId})
    </insert>
    <update id="updateEmpl" parameterType="Employee">
        update employees set e_name=#{eName},e_gender=#{gender},tel=#{tel},email=#{email},d_id=#{department.id},
        p_id=#{position.pId},entry_time=#{entryTime},dimission_time=#{dimissionTime},education=#{education},
        s_id=#{salary.sId} where e_id = #{eId}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from employees where e_id = #{eId}
    </delete>
    <select id="queryById" resultMap="employeeMap">
        select * from employees where e_id = #{eId}
    </select>
    <select id="queryEmployees" resultMap="employeeMap">
        select * from employees
    </select>
   <resultMap id="employeeMap" type="Employee">
       <id property="eId" column="e_id"/>
       <result property="eName" column="e_name"/>
       <result property="gender" column="e_gender"/>
       <result property="tel" column="tel"/>
       <result property="email" column="email"/>
       <result property="entryTime" column="entry_time"/>
       <result property="dimissionTime" column="dimission_time"/>
       <result property="education" column="education"/>
       <result property="salary" column="salary"/>
       <association property="department" javaType="Department">
           <id property="id" column="d_id"/>
           <result property="name" column="d_name"/>
       </association>
       <association property="position" javaType="Position">
           <id property="pId" column="p_id"/>
           <result property="pName" column="p_name"/>
           <result property="dId" column="d_id"/>
       </association>
   </resultMap>
</mapper>