<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.dao.ResumeDao">
    <insert id="addResume" parameterType="Resume">
        insert into resumes(user_id,r_title,u_name,u_birth,u_gender,first_worktime,tel,email,
        dept_id,position_id,work_experience,education,expect_salary,hobbies) values(#{user.id},
        #{rTitle},#{uName},#{uBirth},#{uGender},#{firstWorktime},#{tel},#{email},#{department.id},
        #{position.pId},#{workExperience},#{education},#{expectSalary},#{hobbies})
    </insert>
    <update id="updateResume" parameterType="Resume">
        update resumes set user_id=#{user.id},r_title=#{rTitle},u_name=#{uName},u_birth=#{uBirth},
        u_gender=#{uGender},first_worktime=#{firstWorktime},tel=#{tel},email=#{email},dept_id=#{department.id},
        position_id=#{position.id},work_experience=#{workExperience},education=#{education},expect_salary=
        #{expectSalary},hobbies=#{hobbies}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from resumes where r_id = #{id}
    </delete>
    <select id="queryById" resultMap="resumeMap">
        select * from resumes where r_id = #{id}
    </select>
    <select id="queryResumes" resultMap="resumeMap">
        select * from resumes
    </select>
    <resultMap id="resumeMap" type="Resume">
        <id property="rId" column="r_id"/>
        <result property="rTitle" column="r_title"/>
        <result property="uName" column="u_name"/>
        <result property="uBirth" column="u_birth"/>
        <result property="uGender" column="u_gender"/>
        <result property="firstWorktime" column="first_worktime"/>
        <result property="tel" column="tel"/>
        <result property="email" column="email"/>
        <result property="workExperience" column="work_experience"/>
        <result property="education" column="education"/>
        <result property="expectSalary" column="expect_salary"/>
        <result property="hobbies" column="hobbies"/>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="name" column="user_name"/>
            <result property="password" column="user_password"/>
        </association>
        <association property="department"  javaType="Department">
            <id property="id" column="d_id"/>
            <result property="name" column="d_name"/>
        </association>
        <association property="position" javaType="Position">
            <id property="pId" column="p_id"/>
            <result property="pName" column="p_name"/>
            <result property="dId" column="d_id"/>
        </association>
    </resultMap>
</mapper>